*{
    margin: 0;
    padding: 0;
}

/* google font */

.google-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* main container */
.container {
  max-width: 1200px;
  margin: auto;
}

/* shared style */


/* main style */

/* header */

header{
    max-width: 1200px;
    margin: auto;
    padding: 16px 120px;
}

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-section ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

.header-section ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 600px;
}

.hbtn{
    padding: 12.5px 16px;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hbtn:hover{
     background-color: #1a3b28;
     color: white;
}

/* Banner section */
.banner{
    background-image: linear-gradient(
            rgba(0,0,0,0.35),
            rgba(0,0,0,0.35)
        ), url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-heading{
    padding: 115.5px 179.5px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 1000px;
    padding: 8px 12px;
    border: none;
    font-size: 16px;
    font-weight: 500px;
    color: #469165;
    cursor: pointer;
    margin-bottom: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.banner-button:hover{
     background-color: #001931;
     color: white;
}


.banner-header{
    font-size: 72px;
    line-height: 84px;
    color: white;
}

.banner-header span{
    color: #30B868;
}

.banner-heading p{
    color: white;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}


.banner-footer-button{
    display: flex;
    gap: 16px;
}

.banner-footer-button1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #469165;
    border: none;
    padding: 16px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.banner-footer-button1:hover{
    background-color: #2b503a;
}

.banner-footer-button2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-size: cover;
    border: 1px solid #FFFFFF;
    padding: 16px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
}

.banner-footer-button2:hover{
    background-color: #2b503a;
}