*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google font */

.google-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* main container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

/* shared style */


/* main style */

/* header */

header{
    margin: auto;
    padding: 16px 120px;
}

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-section ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

.header-section ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 600px;
}

.hbtn{
    padding: 12.5px 16px;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hbtn:hover{
     background-color: #1a3b28;
     color: white;
}

/* Banner section */
.banner{
    background-image: linear-gradient(
            rgba(0,0,0,0.35),
            rgba(0,0,0,0.35)
        ), url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}

.banner-heading{
    padding: 115.5px 179.5px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 1000px;
    padding: 8px 12px;
    border: none;
    font-size: 16px;
    font-weight: 500px;
    color: #469165;
    cursor: pointer;
    margin-bottom: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.banner-button:hover{
     background-color: #001931;
     color: white;
}


.banner-header{
    font-size: 72px;
    line-height: 84px;
    color: white;
}

.banner-header span{
    color: #30B868;
}

.banner-heading p{
    color: white;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}


.banner-footer-button{
    display: flex;
    gap: 16px;
}

.banner-footer-button1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #469165;
    border: none;
    padding: 16px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.banner-footer-button1:hover{
    background-color: #2b503a;
}

.banner-footer-button2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-size: cover;
    border: 1px solid #FFFFFF;
    padding: 16px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
}

.banner-footer-button2:hover{
    background-color: #2b503a;
}


/* note section */
.notes-section{
    text-align: center;
    margin-bottom: 120px;
}

.notes-section h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.notes-section p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}

.cards{
    display: flex;
    gap: 24px;
}

.card{
    border-radius: 8px;
    color: white;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.9);
    padding: 69.5px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-circle{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #F95555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h6{
    font-size: 22px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #001931;
}

.card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

/* brain section */

.brain-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.brain-heading h6{
    font-size: 16px;
    font-weight: 500px;
    color: #469165;
    margin-bottom: 16px;
}

.brain-heading h3{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.brain-section p{
    font-size: 16px;
    color: #627382;
}

.cheackboxall{
    margin-top: 40px;
}

.CheckCircleall{
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: 16px;
}

.CheckCircleall img{
    width: 20px;
    height: 20px;
}


/* Early Acess section */
.early-section{
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7F6F2;
}

.early-head{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.early-first-p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
    text-align: center;
}

.early-second-p{
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    color: #627382;
}